<template>
	<div class="instruction-box">
        <div class="instruction-box__icon">
            <svg width="40" height="40" viewBox="0 0 20 20" role="presentation" xmlns="http://www.w3.org/2000/svg" class="gc-icon"><path d="M9 15h2V9H9v6zm1-15C4.48 0 0 4.48 0 10s4.48 10 10 10 10-4.48 10-10S15.52 0 10 0zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM9 7h2V5H9v2z" fill-rule="nonzero" fill="#49487c"></path></svg>
        </div>
        <p class="instruction-box__description">
            <span>
                <p v-if="plainText">{{plainText}}</p>
                <span v-if="html" v-html="html"></span>
            </span>
        </p>
    </div>
</template>
<script type="text/javascript">
	module.export = {
		props: {
			plainText: String,
			html: String
		}
	};
</script>