<template>
    <div v-if="getRandomTestimonial.name">
        <h2>Testimonial</h2>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="mdc-card">
                    <div class="mdc-card__primary-action">
                        <a class="text-decoration-none" rel="noopener noreferrer" target="_blank" v-bind:href="getRandomTestimonial.linkedInUrl">
                            <div class="mdc-card__media">
                                <div class="img--center">
                                    <img v-bind:src="getRandomTestimonial.imageUrl" class="center-block img-fluid testimonialImage" v-bind:alt="getRandomTestimonial.name"/>
                                </div>
                            </div>
                            <div class="paddingLeftRight1em">
                                <p class="text-center font-weight-bold">{{getRandomTestimonial.name}}</p>
                                <h5>Former {{getRandomTestimonial.role}}</h5>
                                <p class="text-center"><i class="fas fa-quote-left"></i></p>
                                <p>{{getRandomTestimonial.quote}}</p>
                            </div>
                        </a>
                    </div>
                    <div class="mdc-card__actions">
                        <div class="mdc-card__action-icons">
                            <a class="text-decoration-none" rel="noopener noreferrer" target="_blank" v-bind:href="getRandomTestimonial.linkedInUrl"><button class="mdc-icon-button mdc-card__action mdc-card__action--icon" title="LinkedIn"><i class="fab fa-linkedin-in"></i></button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</template>
<script type="text/javascript">
    module.export = {
        mixins: [appMixin],
        computed: {
            getRandomTestimonial: function () {
                var testimonial = {};
                var randomIndex = 0;
                var testimonialData = 
                    this.$store.getters.getValueDataFromArray(
                        "testimonial"
                    );
                if (testimonialData.length) {
                    randomIndex = Math.floor(
                        Math.random() * testimonialData[0].response.length
                    );
                    if (randomIndex > testimonialData[0].response.length) {
                        randomIndex = testimonialData[0].response.length;
                    }
                    testimonial = testimonialData[0].response[randomIndex];
                }
                return testimonial;
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                mdc.autoInit();
                const selector = ".mdc-card__primary-action";
                const ripples =
                    [].map.call(document.querySelectorAll(selector),
                        function(element) {
                            return new mdc.ripple.MDCRipple(element);
                        });
            });
        }
    };
</script>