<template>
	<div v-if="isLoading&&!backgroundLoad">
	    <div id="loadingScreen" class="loadingScreen--transpancy">
	        <div id="loader">
	            <div>
	                <div class="dot"></div>
	                <div class="dot"></div>
	                <div class="dot"></div>
	            </div>
	        </div>
	    </div>
	</div>
</template>
<script type="text/javascript">
	module.export = {
	    computed: {
    		isLoading: function () {
    			return this.$store.getters.systemData.loadCount;
    		},
    		backgroundLoad: function () {
    			return this.$store.getters.systemData.backgroundLoad;
    		}
	    },
	};
</script>